
.theme-btn{
    display:inline-flex;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    transition:all 0.3s ease;
    z-index: 0;
    .btn-title {
        position: relative;
    }
}

/*Btn Style One*/
.btn-style-one {
    position: relative;
    font-size: 14px;
    line-height: 30px;
    padding: 15px 55px;
    font-weight: 700;
    letter-spacing: 0.1em;
    overflow: hidden;
    text-transform: uppercase;
    color: #ffffff;
    font-family: var(--title-font);
    background: var(--bg-theme-color2);
    transition: all 500ms ease;
    &:before {
        position: absolute;
        left: 0;
        top: 0%;
        height: 100%;
        width: 100%;
        content: "";
        z-index: -1;
        background: #ffffff;
        transform: scale(0, 1);
        transform-origin: top right;
        transition: -webkit-transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000), -webkit-transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
    }
    i{
        margin-left: 5px;
    }
    &:hover:before {
        transform-origin: bottom left;
        transform: scale(1, 1);
    }
    &:hover {
        color: var(--theme-color1);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.10);
    }
    &.light-bg{
        background: #ffffff;
        color: var(--theme-color1);
        &:before{
            background: var(--bg-theme-color2);
        }
        &:hover{
            color: #ffffff;
        }
    }
    &.dark-bg{
        background: var(--bg-theme-color1);
        color: #ffffff;
        &:before{
            background: var(--bg-theme-color2);
        }
    }
    &.hvr-dark{
        &:before{
            background: var(--bg-theme-color1);
        }
        &:hover{
            color: #ffffff;
        }
    }
}

.theme-btn.small{
    padding: 10px 40px;
    line-height: 20px;
    font-size: 12px;
}
