/*** 

====================================================================
    Services Section
====================================================================

***/

.services-section {
    position: relative;
    padding: 120px 0 90px;
    z-index: 2;
    .sec-title{
        .text{
            margin-top: 5px;
            @include for-md{
                margin-top: 20px;
            }
        }
    }
}

.service-block{
    position: relative;
    margin-bottom: 30px;
    z-index: 1;

    .inner-box {
        position: relative;
        overflow: hidden;
        height: 100%;
        padding: 35px 40px 30px;
        background-color: #171717;
        z-index: 2;
        transition: all 300ms ease;
        background-image: url(../images/icons/line-1.png);
        background-position: left top;
        background-repeat: no-repeat;
        &::before{
            @include overlay;
            background: var(--gradient-1);
            content: "";
            transition: all 300ms linear;
        }
        &:after {
            @include overlay;
            background-image: url(../images/icons/line-1.png);
            background-color: var(--bg-theme-color2);
            background-position: left top;
            background-repeat: no-repeat;
            transform: scaleY(0);
            transform-origin: bottom center;
            content: "";
            z-index: -1;
            transition: all 300ms linear;
        }

        &:hover {
            &:after {
                transform: scale(1);
                opacity: 1;
                border-radius: 0;
            }
            &:before{
                opacity: 0;
            }
            .title,
            .text,
            .icon {
                color: #ffffff;
            }

            .count {
                background-color: rgba(255, 255, 255, .2);
            }
        }
    }

    .count {
        position: absolute;
        right: 40px;
        top: 83px;
        height: 27px;
        width: 28px;
        background-color: rgba(255, 255, 255, .1);
        color: #ffffff;
        line-height: 27px;
        text-align: center;
        font-size: 14px;
        font-family: var(--title-font);
        transition: all 300ms linear;
    }

    .title {
        position: relative;
        display: block;
        padding-bottom: 30px;
        margin-bottom: 20px;
        color: #ffffff;
        &:before{
            @include absolute-bottom;
            width: 100%;
            height: 3px;
            background-color: rgba(255, 255, 255, .1);
            content: "";
        }
        &:hover {
            color: var(--theme-color2);
        }
    }

    .icon {
        position: relative;
        display: block;
        font-size: 62px;
        color: #ffffff;
        font-weight: 400;
        line-height: 1em;
        transition: all 200ms linear;
        margin-bottom: 16px;
    }


    .text {
        position: relative;
        color: #ffffff;
        font-size: 14px;
        line-height: 26px;
        transition: all 300ms linear;
    }
}


/*** 

====================================================================
    Services Section Two
====================================================================

***/

.services-section-two{
    position: relative;
    padding: 120px 0 90px;
    z-index: 2;
    .sec-title{
        margin-bottom: -75px;
        @include for-lg{
            margin-bottom: 50px;
        }
        .text{
            margin-top: 5px;
        }
    }
    .call-to-action-two{
        padding-top: 90px;
    }
}

.service-block-two{
    position: relative;
    margin-bottom: 30px;
    z-index: 1;

    .inner-box {
        position: relative;
        overflow: hidden;
        height: 100%;
        padding: 40px 30px 35px;
        background-color: #171717;
        z-index: 2;
        padding-right: 110px;
        transition: all 300ms ease;
        &:hover{
            &:after{
                height: 24px;
            }
            .title{
                color: var(--theme-color2);
            }
            .icon{
                transform: rotate(-180deg) scale(-1);
                color: #ffffff;
            }
        }
        &:before{
            position: absolute;
            left: 30px;
            top: 0;
            width: 2px;
            height: 24px;
            background-color: rgba(255, 255, 255, .1);
            content: "";
            transition: all 300ms ease;
        }
        &:after{
            position: absolute;
            left: 30px;
            top: 0;
            width: 2px;
            height: 0;
            background-color: var(--bg-theme-color2);
            content: "";
            transition: all 300ms ease;
        }
    }

    .icon {
        position: absolute;
        right: 30px;
        top: 0;
        height: 100%;
        @include flex-center;
        font-size: 62px;
        color: var(--theme-color2);
        font-weight: 400;
        line-height: 1em;
        transition: all 300ms ease;
    }

    .title {
        position: relative;
        display: block;
        font-size: 18px;
        margin-bottom: 0px;
        color: #ffffff;
        &:hover {
            color: var(--theme-color2);
        }
    }
}

/*** 

====================================================================
    Services Section Three
====================================================================

***/

.services-section-three{
    position: relative;
    padding: 60px 0 50px;
    z-index: 2;
    .bg{
        max-height: 390px;
        &:before{
            @include overlay;
            background-image: url(../images/icons/line-4.png);
            background-color: rgba(23, 23, 23, .8);
            background-repeat: no-repeat;
            background-position: center;
            content: "";
        }
    }
    .bottom-box{
        text-align: center;
        font-size: 16px;
        line-height: 30px;
        text-transform: uppercase;
        @include title-font;
        color: #726d7b;
        letter-spacing: .01em;
        margin-top: 10px;
    }
}

.service-block-three{
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    .inner-box {
        position: relative;
        padding: 50px 50px 40px;
        box-shadow: 0 10px 60px rgba(0,0,0,.10);
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        z-index: 2;
        transition: all 300ms ease;
        @include for-lg{
            padding: 40px 30px;
        }
        &::before{
            @include overlay;
            background-color: var(--bg-theme-color1);
            background-image: url(../images/icons/line-3.jpg);
            height: 0;
            content: "";
            transition: all 300ms linear;
        }

        &:hover {
            &:before{
                height: 100%;
            }
            .title,
            .text{
                color: #ffffff;
            }
        }
    }

    .content{
        position: relative;
        padding-left: 90px;
        @include for-lg {
            text-align: center;
            padding-left: 0;
        }
    }
    
    .icon {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 62px;
        color: var(--theme-color2);
        font-weight: 400;
        line-height: 1em;
        transition: all 200ms linear;
        @include for-lg{
            position: relative;
            display: inline-block;
            margin-bottom: 10px;
        }
    }

    .title {
        position: relative;
        display: block;
        top: -5px;
        margin-bottom: 5px;
        &:hover {
            color: var(--theme-color2);
        }
    }


    .text {
        position: relative;
        transition: all 300ms linear;
    }
}