//Root 

:root {

  //theme color
  --theme-color1: #171717;
  --theme-color2: #e9a233;
  --theme-color3: #ECF0F4;
  --bg-theme-color1: var(--theme-color1);
  --bg-theme-color2: var(--theme-color2);
  --border-theme-color1: var(--theme-color1);
  --border-theme-color2: var(--theme-color2);

  --text-color-bg-theme-color1: #fff;
  --text-color-bg-theme-color2: #fff;

  //text heading color
  --text-color:         #717070;
  --headings-color:     var(--theme-color1);
  --link-color:         var(--theme-color1);
  --link-hover-color:   var(--theme-color1);

  //Gradients
  --gradient-1: linear-gradient(135deg, rgba(23, 23, 23, 0) 0%, rgba(23, 23, 23, 0.65) 65%, var(--theme-color2) 100%);
  --gradient-2: linear-gradient(top bottom, transparent 0%, var(--theme-color2) 100%);
  --gradient-4: linear-gradient(90deg, #171717 0%, #E8A133 100%);
  --gradient-3: linear-gradient(-135deg, rgba(23, 23, 23, 0.0) 50%, var(--theme-color2) 100%);

  //font family
  --text-font: 'Barlow', sans-serif;
  --title-font: 'Barlow Condensed', sans-serif;

  //body
  --body-font-size:   16px;
  --body-line-height: 30px;
  --body-font-weight: 500;

  //heading font size + weight
  --line-height-heading-h1: 1em;
  --line-height-heading: 1.2em;
  --line-height-heading-small: 1.4em;

  --h1-font-size: 90px;
  --h2-font-size: 50px;
  --h3-font-size: 36px;
  --h4-font-size: 24px;
  --h5-font-size: 22px;
  --h6-font-size: 20px;

  --h1-font-weight: 600;
  --h2-font-weight: 600;
  --h3-font-weight: 600;
  --h4-font-weight: 600;
  --h5-font-weight: 600;
  --h6-font-weight: 600;

  //section sub title
  --sec-title-subtitle-color: var(--theme-color2);
  --sec-title-subtitle-font-size: 18px;
  --sec-title-subtitle-font-family: var(--title-font);
  --sec-title-subtitle-font-weight: 500;
  --sec-title-subtitle-line-height: 24px;

  //section title
  --sec-title-color:                 var(--theme-color1);
  --sec-title-font-size:             var(--h2-font-size);
  --sec-title-font-family:           var(--title-font);
  --sec-title-font-weight:           var(--h2-font-weight);

  //news details page
  --theme-light-background: #f6f6f6;
  --theme-light-background-text-color: var(--headings-color);
  --theme-black:        #0b0b0b;


  //container
  --container-width: 1200px;
  --small-container-width: 1000px;
  --large-container-width: 1550px;
  --container-pt:    120px;
  --container-pb:    120px;
}
